/* De esta manera se declara una animacion!, entre cada llave especificamos lo que pasara en cada % de la animacion*/

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(-1.5rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}